@import "vars"
header
  background-color: #EEEEEE
.header
  &-icon
    &-margin
      margin-right: 15px
  &-top
    height: 46px
    font-family: $nunito
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 19px
    color: #242424
    display: flex
    align-items: center
    justify-content: space-between

.email a
  color: #242424
  text-decoration: none
